/* mobile = 375px */
/* tablet = 768px */
/* laptop = 1024px */

:root {
  --primary-color: #dea821;
  --secondary-color: #191919;
  --third-color: #797979;
  --font-gray: rgb(160, 156, 156);

  --font-head: "Hind", sans-serif;
  --font-content: "Bahnschrift", sans-serif;
  --footer-color: #404040;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
section {
  padding-top: 50px;
  margin: 0 30px;

  /* margin: 0 2rem; */
}
section img {
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
/* Basic setup */
/* menu-bar start */
.showcase {
  position: absolute;

  width: 100%;
  /* height: 50%; */
  font-family: var(--font-head);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #111; */
  color: #fff;
  z-index: 5;
}
.logo {
  font-weight: 400;
  border: 1px solid var(--primary-color);
  font-size: 1.2rem;
  padding: 5px;
}
.showcase header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

/* show case end */

/*  menu-nav  start*/
.menu-nav {
  display: none;
}
/* menu-nav end */

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar nav-start */

.sidebar {
  position: fixed;
  top: 0;
  right: -200px;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 100%;
  transition: all 0.9s;
  z-index: 3;
}
.active {
  right: 0;
  transition: all 0.9s;
}
.sidebar ul {
  margin: 0;
  padding: 20px 0;
  top: 0;
  position: absolute;
  display: flex;

  flex-direction: column;
}
.sidebar a {
  transition: ease-in-out 0.4s;
}
.sidebar a:hover {
  color: var(--primary-color);
}

.sidebar ul li {
  list-style: none;
}
.sidebar ul li {
  padding: 10px 20px;
  color: #fff;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}

.sidebarBtn {
  position: absolute;
  top: 5px;
  left: -50px;
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.sidebarBtn i {
  font-size: 1.2rem;
}

/* sidebar nav-end*/
/* about-pic start */

/*  */
.head {
  font-size: 1.2rem;

  font-family: var(--font-head);
  padding: 0;
  max-width: 100%;
  height: 400px;
  margin: 0;
  bottom: 80px;
  position: relative;
  color: var(--primary-color);
}

.head img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.head span {
  font-size: 2.5rem;
  font-family: var(--font-head);
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  bottom: 30%;
  position: relative;
  color: white;
  border: 2px solid var(--primary-color);
  padding: 10px;
}
/*  */

/* about-pic end */

/* specialty start */

.specialty {
  font-family: var(--font-head);
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: bold;
  position: relative;
  padding: 50px 0;

  border: 2px solid var(--secondary-color);
}
.specialty span {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* specialty end */

/* about-us-1 start */

.about-us-1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.about-us-1 p {
  font-family: var(--font-content);
  font-size: 1.4rem;
  position: relative;
  text-align: center;
  display: flex;
  line-height: 24px;
  padding: 0 10px;
}
.about-us-1 form p:nth-of-type(2) {
  font-size: 1.2rem;
  color: var(--third-color);
  display: flex;
  justify-content: center;
}
.about-us-1 img {
  width: 40%;
  padding: 0;
  margin: 0;
}

/* about-us-1 end */

/* review start */

.review-pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 20px;
}
.review-pics img {
  width: 100%;
  height: 100%;
  image-rendering: high-qulity;
}
.review span {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: var(--font-head);
  font-size: 1.2rem;
  line-height: 30px;
  color: var(--secondary-color);
  font-weight: bold;
}
.review span:nth-child(2) {
  font-weight: normal;
  color: var(--third-color);
}

/* review end */

/* about-us-1 start */
.about-us-2 form {
  order: 2;
}
.about-us-2 p {
  font-family: var(--font-content);
  font-size: 1.4rem;
  position: relative;
  text-align: center;
  display: flex;
  line-height: 24px;
  padding-right: 10px;
}
.about-us-2 {
  display: flex;
  position: relative;
  align-items: center;
}
.about-us-2 img {
  width: 50%;
  border-radius: 10px;
  order: 1;
}
.about-us-2 form p:nth-of-type(2) {
  font-size: 1.2rem;
  color: var(--third-color);
  display: flex;
  justify-content: center;
}
/* about-us-2 end */

/* review-coffe start */
.review-coffee {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 10px;
  justify-content: center;
  padding-top: 50px;
}
.review-coffee img {
  width: 100%;
  height: 100%;
  image-rendering: high-qulity;
}
.review-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: var(--font-head);
  font-size: 1.2rem;
  line-height: 30px;
  padding-top: 50px;
}
/* review-coffe end */
/* bottom  start*/

.bottom {
  font-family: var(--font-content);
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 28px;
}
.bottom form {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.bottom ul li:nth-of-type(3) {
  line-height: 50px;
  font-weight: bold;
}
/* bottom end */
/* sns icons */
.sns-icons {
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: var(--third-color);
}
.sns-icons i {
  padding: 30px;
}
/* sns icons */
.footer {
  width: 100%;
  height: 50px;
  background: var(--footer-color);
  display: Flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-head);
}
.footer span {
  display: flex;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  /* menu setup */
  .main-pic {
    height: 765px;
  }
  .menu ul {
    display: flex;
    position: relative;
    right: 5%;
  }
  .menu ul li {
    color: white;
    font-family: var(--font-content);
    padding: 0.5rem;
    transition: 0.3s;
  }
  .sidebar-start {
    display: none;
  }
  .menu ul li:hover {
    color: var(--primary-color);
  }
  /* menu setup */
  .bottom {
    display: flex;
  }

  .about-us-1 p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .about-us-2 p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .review-pics {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
  }
  .review-coffee {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  .about-pic span form {
    display: flex;
    border: none;
    color: var(--primary-color);
    border: 2px solid white;
  } /*  */
  .sidebar {
    display: none;
  }
  .menu-nav {
    display: flex;
  }
  .menu-nav ul {
    display: flex;
  }
  .menu-nav a {
    padding: 10px;
    transition: ease-in-out 0.4s;
  }
  .menu-nav a:hover {
    color: var(--primary-color);
  }
  /*  */

  .box {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
  .about-us-1 form {
    position: relative;
    display: flex;
    align-items: center;
    width: 800px;
    flex-direction: column;
  }
}
