/* mobile = 375px */
/* tablet = 768px */
/* laptop = 1024px */

:root {
  --primary-color: #dea821;
  --secondary-color: #191919;
  --third-color: #797979;
  --font-gray: rgb(160, 156, 156);

  --font-head: "Hind", sans-serif;
  --font-content: "Bahnschrift", sans-serif;
  --footer-color: #404040;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
section {
  padding-top: 50px;
  margin: 0 30px;

  /* margin: 0 2rem; */
}
section img {
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
/* Basic setup */
/* menu-bar start */
.showcase {
  position: absolute;

  width: 100%;
  /* height: 50%; */
  font-family: var(--font-head);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #111; */
  color: #fff;
  z-index: 5;
}
.logo {
  font-weight: 400;
  border: 1px solid var(--primary-color);
  font-size: 1.2rem;
  padding: 5px;
}
.showcase header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

/* show case end */

/*  menu-nav  start*/
.menu-nav {
  display: none;
}
/* menu-nav end */

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar nav-start */

.sidebar {
  position: fixed;
  top: 0;
  right: -200px;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 100%;
  transition: all 0.9s;
  z-index: 3;
}
.active {
  right: 0;
  transition: all 0.9s;
}
.sidebar ul {
  margin: 0;
  padding: 20px 0;
  top: 0;
  position: absolute;
  display: flex;

  flex-direction: column;
}
.sidebar a {
  transition: ease-in-out 0.4s;
}
.sidebar a:hover {
  color: var(--primary-color);
}

.sidebar ul li {
  list-style: none;
}
.sidebar ul li {
  padding: 10px 20px;
  color: #fff;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}

.sidebarBtn {
  position: absolute;
  top: 5px;
  left: -50px;
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.sidebarBtn i {
  font-size: 1.2rem;
}

/* sidebar nav-end*/

.menu ul {
  display: none;
}
.menu ul li a {
  font-size: 18px;
}
/* menu-bar end */

/*  */
.head {
  font-size: 1.2rem;

  font-family: var(--font-head);
  padding: 0;
  max-width: 100%;
  height: 400px;
  margin: 0;
  bottom: 80px;
  position: relative;
  color: var(--primary-color);
}

.head img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.head span {
  font-size: 2.5rem;
  font-family: var(--font-head);
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  bottom: 30%;
  position: relative;
  color: white;
  border: 2px solid var(--primary-color);
  padding: 10px;
}
/*  */
.contact-form {
  width: 80%;
  background: #ffffffa8;
  position: relative;
  margin: 0 auto;

  border-radius: 8px;
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1); */
}
.paragraph {
  padding-top: 80px;
  margin: 0;
}
.paragraph img {
  border-radius: 0;
}
.paragraph p {
  padding-top: 50px;
  margin: 0 1.5rem;
  font-family: var(--font-content);
  line-height: 30px;
}
.contact-form h1 {
  font-family: var(--font-head);
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
}
.textb {
  border: 1px solid var(--third-color);
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
  font-family: var(--font-content);
}
::placeholder {
  opacity: 0;
}
.textb label {
  display: block;
  text-align: left;
  font-size: 1.2em;
}
.textb input {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  font-size: 1.2em;
}
.textb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  font-size: 2em;
}
.btn {
  display: block;
  font-size: 1.2rem;
  background: var(--third-color);
  padding: 15px 0;
  font-family: var(--font-content);
  color: white;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: var(--secondary-color);
}

/* bottom  start*/

.bottom {
  font-family: var(--font-content);
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 28px;
}
.bottom form {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.bottom ul li:nth-of-type(3) {
  line-height: 50px;
  font-weight: bold;
}
/* sns icons */
.sns-icons {
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: var(--third-color);
}
.sns-icons i {
  padding: 30px;
}
/* sns icons */
#maps {
  max-width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 0.5rem;
  padding-top: 50px;
}
.googlemaps {
  width: 100%;
  border-radius: 10px;
}
.footer {
  width: 100%;
  height: 50px;
  background: var(--footer-color);
  display: Flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-head);
}
.footer span {
  display: flex;
}
/* bottom end */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  /* menu setup */
  .main-pic {
    height: 765px;
  }
  .menu ul {
    display: flex;
    position: relative;
    right: 5%;
  }
  .menu ul li {
    color: white;
    font-family: var(--font-content);
    padding: 0.5rem;
    transition: 0.3s;
  }
  .sidebar-start {
    display: none;
  }
  .menu ul li:hover {
    color: var(--primary-color);
  }
  /* menu setup */
  .paragraph {
    padding-bottom: 50px;
  }
  .paragraph p {
    width: 80%;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  .contact-form {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
  }
  .textb {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
}
@media (min-width: 1024px) {
  /*  */
  .sidebar {
    display: none;
  }
  .menu-nav {
    display: flex;
  }
  .menu-nav ul {
    display: flex;
  }
  .menu-nav a {
    padding: 10px;
    transition: ease-in-out 0.4s;
  }
  .menu-nav a:hover {
    color: var(--primary-color);
  }
  /*  */
}
