/* mobile = 375px */
/* tablet = 768px */
/* laptop = 1024px */

:root {
  --primary-color: #dea821;
  --secondary-color: #191919;
  --third-color: #797979;
  --font-gray: rgb(160, 156, 156);

  --font-head: "Hind", sans-serif;
  --font-content: "Bahnschrift", sans-serif;
  --footer-color: #404040;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
section {
  padding-top: 50px;
  margin: 0 30px;

  /* margin: 0 2rem; */
}
section img {
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
/* Basic setup */
/* Basic setup */
.menu form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  color: white;
  margin: 0 30px;
  font-family: var(--font-head);

  font-size: 1.2rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  z-index: 2;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}
.menu .logo {
  border: 1px solid var(--primary-color);
}
.menu ul {
  display: none;
}
.container img:hover {
  box-shadow: 10px 1px 15px 5px rgba(0, 0, 0, 0.4);
}

/* sidebar start */

.sidebar-start {
  padding-top: 0;
  position: relative;
  z-index: 999;
}
.sidebar {
  position: fixed;
  right: -150px;
  width: 150px;
  height: 100%;
  background: white;
  transition: all 1s ease;
}
.sidebar header {
  font-size: 25px;
  color: black;
  text-align: center;
  line-height: 70px;
  background: white;
  user-select: none;
  font-family: var(--font-head);
}
.sidebar form {
  flex-direction: column;
  display: flex;
  top: 150px;
  left: 15px;
  position: relative;
}

.sidebar form a {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 150px;
  line-height: 65px;
  font-size: 20px;
  color: var(--secondary-color);
  text-align: center;
  box-sizing: border-box;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  transition: 1s ease;
  font-family: var(--font-content);
}

.sidebar form span:hover a {
  padding-left: 20px;
}

#check {
  display: none;
}
#btn {
  transition: 1s;
}
label #btn {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px;
  z-index: 999;

  color: white;
}
#check:checked ~ .sidebar {
  right: 0px;
}

#btn:hover {
  right: 0px;
}

/* sidebar end */

/*  */
.head {
  font-size: 1.2rem;

  font-family: var(--font-head);
  padding: 0;
  max-width: 100%;
  height: 400px;
  margin: 0;
  bottom: 80px;
  position: relative;
  color: var(--primary-color);
}

.head img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.head span {
  font-size: 2.5rem;
  font-family: var(--font-head);
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  bottom: 30%;
  position: relative;
  color: white;
  border: 2px solid var(--primary-color);
  padding: 10px;
}
/*  */
.contact-form {
  width: 80%;
  background: #ffffffa8;
  position: relative;
  margin: 0 auto;

  border-radius: 8px;
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1); */
}
.paragraph {
  padding-top: 80px;
  margin: 0;
}
.paragraph img {
  border-radius: 0;
}
.paragraph p {
  padding-top: 50px;
  margin: 0 1.5rem;
  font-family: var(--font-content);
  line-height: 30px;
}
.contact-form h1 {
  font-family: var(--font-head);
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
}
.textb {
  border: 1px solid var(--third-color);
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
  font-family: var(--font-content);
}
::placeholder {
  opacity: 0;
}
.textb label {
  display: block;
  text-align: left;
  font-size: 1.2em;
}
.textb input {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  font-size: 1.2em;
}
.textb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  font-size: 2em;
}
.btn {
  display: block;
  font-size: 1.2rem;
  background: var(--third-color);
  padding: 15px 0;
  font-family: var(--font-content);
  color: white;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: var(--secondary-color);
}

/* bottom  start*/

.bottom {
  font-family: var(--font-content);
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 28px;
}
.bottom form {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.bottom ul li:nth-of-type(3) {
  line-height: 50px;
  font-weight: bold;
}
/* sns icons */
.sns-icons {
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: var(--third-color);
}
.sns-icons i {
  padding: 30px;
}
/* sns icons */
#maps {
  max-width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 0.5rem;
  padding-top: 50px;
}
.googlemaps {
  width: 100%;
  border-radius: 10px;
}
.footer {
  width: 100%;
  height: 50px;
  background: var(--footer-color);
  display: Flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-head);
}
.footer span {
  display: flex;
}
/* bottom end */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  /* menu setup */
  .main-pic {
    height: 765px;
  }
  .menu ul {
    display: flex;
    position: relative;
    right: 5%;
  }
  .menu ul li {
    color: white;
    font-family: var(--font-content);
    padding: 0.5rem;
    transition: 0.3s;
  }
  .sidebar-start {
    display: none;
  }
  .menu ul li:hover {
    color: var(--primary-color);
  }
  /* menu setup */
  .paragraph {
    padding-bottom: 50px;
  }
  .paragraph p {
    width: 80%;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  .contact-form {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
  }
  .textb {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
}
