:root {
  --primary-color: #dea821;
  --secondary-color: #191919;
  --third-color: #797979;
  --font-gray: rgb(160, 156, 156);

  --font-head: "Hind", sans-serif;
  --font-content: "Bahnschrift", sans-serif;
  --footer-color: #404040;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url("../DEVON-CAFE-PICS/find-a-table.jpg");
  max-width: 100%;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
section {
  padding-top: 50px;
  margin: 0 30px;

  /* margin: 0 2rem; */
}
section img {
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
/* Basic setup */
.menu form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  color: white;
  margin: 0 30px;
  font-family: var(--font-head);

  font-size: 1.2rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  z-index: 2;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}
.menu .logo {
  border: 1px solid var(--primary-color);
}
.menu ul {
  display: none;
}
.container img:hover {
  box-shadow: 10px 1px 15px 5px rgba(0, 0, 0, 0.4);
}

/* sidebar start */

.sidebar-start {
  padding-top: 0;
  position: relative;
  z-index: 999;
}
.sidebar {
  position: fixed;
  right: -150px;
  width: 150px;
  height: 100%;
  background: white;
  transition: all 1s ease;
}
.sidebar header {
  font-size: 25px;
  color: black;
  text-align: center;
  line-height: 70px;
  background: white;
  user-select: none;
  font-family: var(--font-head);
}
.sidebar form {
  flex-direction: column;
  display: flex;
  top: 150px;
  left: 15px;
  position: relative;
}

.sidebar form a {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 150px;
  line-height: 65px;
  font-size: 20px;
  color: var(--secondary-color);
  text-align: center;
  box-sizing: border-box;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  transition: 1s ease;
  font-family: var(--font-content);
}

.sidebar form span:hover a {
  padding-left: 20px;
}

#check {
  display: none;
}
#btn {
  transition: 1s;
}
label #btn {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px;
  z-index: 999;

  color: white;
}
#check:checked ~ .sidebar {
  right: 0px;
}

#btn:hover {
  right: 0px;
}

/* sidebar end */
/* contents start container-time*/
.container {
  margin: 1.5rem;
  background: white;
  margin-bottom: 50px;
}
.container:after {
  content: "";
  display: block;
  height: 50px;
}

.container-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background:red; */
  width: 100%;
  line-height: 2rem;
  padding: 2rem;
  outline: 2px solid var(--primary-color);
  outline-offset: -20px;
}

.container-time .heading {
  font-size: 2rem;
  font-family: var(--font-head);
}
.container-time h3 {
  font-size: 1.4rem;
  font-family: Var(--font-content);
}
.container-time p {
  font-family: Var(--font-content);
}
.heading-phone {
  font-family: Var(--font-content);
  font-size: 1.4rem;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  line-height: 2rem;
  padding: 1.5rem;
  font-family: var(--font-content);
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
}

.heading-yellow {
  font-size: 2rem;
  font-family: var(--font-head);
}

.btn {
  background: var(--third-color);
  color: white;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 1rem;
  transition: ease-in-out 0.3s;
}

.btn:hover {
  background: var(--secondary-color);
}

/* container-form end*/

.footer {
  width: 100%;
  height: 50px;
  background: var(--footer-color);
  display: Flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-head);
}
.footer span {
  display: flex;
}

/* bottom end */

/* footer start */

.footer {
  width: 100%;
  background: var(--footer-color);
  height: 50px;
  color: white;
  font-family: var(--font-head);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer end */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .main-pic {
    height: 765px;
  }
  .menu ul {
    display: flex;
    position: relative;
    right: 5%;
  }
  .menu ul li {
    color: white;
    font-family: var(--font-content);
    padding: 0.5rem;
    transition: 0.3s;
  }
  .sidebar-start {
    display: none;
  }
  .menu ul li:hover {
    color: var(--primary-color);
  }
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  .container {
    display: flex;
    width: 80%;
    justify-content: center;
    left: 40%;
    padding: 0;
    margin-bottom: 300px;
    position: relative;
    transform: translate(-40%, 20%);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
  }

  .footer {
    bottom: 0;
  }
}
