:root {
  --primary-color: #dea821;
  --secondary-color: #191919;
  --third-color: #797979;
  --font-gray: rgb(160, 156, 156);

  --font-head: "Hind", sans-serif;
  --font-content: "Bahnschrift", sans-serif;
  --footer-color: #404040;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url("NARO-CAFE-PICS/find-a-table.jpg");
  max-width: 100%;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
section {
  padding-top: 50px;
  margin: 0 30px;

  /* margin: 0 2rem; */
}
section img {
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
/* Basic setup */
/* menu-bar start */
.showcase {
  position: absolute;

  width: 100%;
  /* height: 50%; */
  font-family: var(--font-head);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #111; */
  color: #fff;
  z-index: 5;
}
.logo {
  font-weight: 400;
  border: 1px solid var(--primary-color);
  font-size: 1.2rem;
  padding: 5px;
}
.showcase header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

/* show case end */

/*  menu-nav  start*/
.menu-nav {
  display: none;
}
/* menu-nav end */

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar nav-start */

.sidebar {
  position: fixed;
  top: 0;
  right: -200px;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 100%;
  transition: all 0.9s;
  z-index: 3;
}
.active {
  right: 0;
  transition: all 0.9s;
}
.sidebar ul {
  margin: 0;
  padding: 20px 0;
  top: 0;
  position: absolute;
  display: flex;

  flex-direction: column;
}
.sidebar a {
  transition: ease-in-out 0.4s;
}
.sidebar a:hover {
  color: var(--primary-color);
}

.sidebar ul li {
  list-style: none;
}
.sidebar ul li {
  padding: 10px 20px;
  color: #fff;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}

.sidebarBtn {
  position: absolute;
  top: 5px;
  left: -50px;
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.sidebarBtn i {
  font-size: 1.2rem;
}

/* sidebar nav-end*/

.menu ul {
  display: none;
}
.menu ul li a {
  font-size: 18px;
}
/* menu-bar end */
/* contents start container-time*/
.container {
  margin: 1.5rem;
  background: white;
  margin-bottom: 50px;
}
.container:after {
  content: "";
  display: block;
  height: 50px;
}

.container-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background:red; */
  width: 100%;
  line-height: 2rem;
  padding: 2rem;
  outline: 2px solid var(--primary-color);
  outline-offset: -20px;
}

.container-time .heading {
  font-size: 2rem;
  font-family: var(--font-head);
}
.container-time h3 {
  font-size: 1.4rem;
  font-family: Var(--font-content);
}
.container-time p {
  font-family: Var(--font-content);
}
.heading-phone {
  font-family: Var(--font-content);
  font-size: 1.4rem;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  line-height: 2rem;
  padding: 1.5rem;
  font-family: var(--font-content);
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
}

.heading-yellow {
  font-size: 2rem;
  font-family: var(--font-head);
}

.btn {
  background: var(--third-color);
  color: white;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 1rem;
  transition: ease-in-out 0.3s;
}

.btn:hover {
  background: var(--secondary-color);
}

/* container-form end*/

.footer {
  width: 100%;
  height: 50px;
  background: var(--footer-color);
  display: Flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-head);
}
.footer span {
  display: flex;
}

/* bottom end */

/* footer start */

.footer {
  width: 100%;
  background: var(--footer-color);
  height: 50px;
  color: white;
  font-family: var(--font-head);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer end */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .main-pic {
    height: 765px;
  }
  .menu ul {
    display: flex;
    position: relative;
    right: 5%;
  }
  .menu ul li {
    color: white;
    font-family: var(--font-content);
    padding: 0.5rem;
    transition: 0.3s;
  }
  .sidebar-start {
    display: none;
  }
  .menu ul li:hover {
    color: var(--primary-color);
  }
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  .container {
    display: flex;
    width: 80%;
    justify-content: center;
    left: 40%;
    padding: 0;
    margin-bottom: 300px;
    position: relative;
    transform: translate(-40%, 20%);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
  }
  /*  */
  .sidebar {
    display: none;
  }
  .menu-nav {
    display: flex;
  }
  .menu-nav ul {
    display: flex;
  }
  .menu-nav a {
    padding: 10px;
    transition: ease-in-out 0.4s;
  }
  .menu-nav a:hover {
    color: var(--primary-color);
  }
  /*  */
  .footer {
    bottom: 0;
  }
}
